apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: aegis-temporal-pre-alpha
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  project: default
  source:
    repoURL: https://temporalio.github.io/helm-charts
    chart: temporal
    targetRevision: 0.x.x
    helm:
      valuesObject:
        server:
          replicaCount: 1
          config:
            persistence:
              default:
                driver: "sql"
                sql:
                  driver: "postgres12"
                  host: "aegis-postgres-pre-alpha-postgresql"
                  port: 5432
                  user: "postgres"
                  password: "password123"
                  database: "temporal"
              visibility:
                driver: "sql"
                sql:
                  driver: "postgres12"
                  host: "aegis-postgres-pre-alpha-postgresql"
                  port: 5432
                  user: "postgres"
                  password: "password123"
                  database: "temporal_visibility"
        cassandra:
          enabled: false
        postgresql:
          enabled: false
        elasticsearch:
          replicas: 1
          minimumMasterNodes: 1
  destination:
    server: https://kubernetes.default.svc
    namespace: aegis-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
