apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: aegis-temporal-pre-alpha
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  project: default
  source:
    repoURL: https://temporalio.github.io/helm-charts
    chart: temporal
    targetRevision: 0.x.x
    helm:
      valuesObject:
        server:
          replicaCount: 1
        cassandra:
          enabled: false
        postgresql:
          enabled: true
  destination:
    server: https://kubernetes.default.svc
    namespace: aegis-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
