apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: aegis-postgres-pre-alpha
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  project: default
  source:
    repoURL: https://charts.bitnami.com/bitnami
    chart: postgresql
    targetRevision: 18.5.1
    helm:
      valuesObject:
        global:
          postgresql:
            auth:
              postgresPassword: "password123"
              database: aegis_db
              username: aegis_admin
              password: "password123"
        primary:
          persistence:
            enabled: false
  destination:
    server: https://kubernetes.default.svc
    namespace: aegis-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
