apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: aegis-postgres-pre-alpha
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  project: default
  source:
    repoURL: https://charts.bitnami.com/bitnami
    chart: postgresql
    targetRevision: 16.x.x
    helm:
      valueFiles:
        - ../../envs/pre-alpha/infrastructure/postgres/values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: aegis-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
