nameOverride: "api-gateway"
image:
  repository: ghcr.io/aegis-ai-organizations/aegis-ai-api-gateway
  tag: "latest"
service:
  port: 8080
ingress:
  enabled: true
  hosts:
    - host: api.aegis.local
