nameOverride: "brain-pre-alpha"

replicaCount: 1

image:
  repository: ghcr.io/aegis-ai-organizations/aegis-ai-brain
  tag: "latest"
  pullPolicy: Always

service:
  type: ClusterIP
  port: 8080
  targetPort: 8080

env:
  - name: DB_HOST
    value: "aegis-postgres-pre-alpha.aegis-system.svc.cluster.local:5432"
  - name: TEMPORAL_HOST
    value: "temporal.aegis-system.svc.cluster.local:7233"

resources:
  limits:
    cpu: 300m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 256Mi
